@model IEnumerable<Yann_Al_Akl_WS1_TP2_Développement_Web_Serveur__1.Models.Category>

@{
    ViewData["Title"] = "Liste des catégories";
}

<h1>Liste des catégories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nouvelle catégorie</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@Html.Raw(item.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Modifier</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Détails</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>